DB_NAME=techfixdb
DB_USER=root
DB_PASSWORD=1234
DB_HOST=localhost
JWT_SECRET=supersecreto123

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=username
SMTP_PASS=password
MAIL_FROM=demomailtrap.co

# Server Configuration
PORT=3001
# Frontend URL (para CORS y reset password)
FRONT_URL=http://localhost:5173

# Database Sync Options (Development only)
SYNC_DB=true
DB_ALTER=false
DB_FORCE=false